/* Brand */
$brand-dark-primary: #7966F3;
$brand-light-primary: #9B9BFD;

$brand-primary: #FF0000;
$brand-secondary: #000;

$brand-accent: #17BEBB;
$brand-warn: #FB3640;


/* Background Colors */
$bg-color: #FFF;
$bg-color-inverse: #333;